*{
    margin: 0;
    padding: 0;
}

body{

    font-family: "Montserrat", sans-serif;
}

.logo{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.fijado{
    position: fixed;
    top: 0;
    left: 0;
    width: 100% ;
    background-color: rgba(255, 255, 255, 0.459);
}

header{
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}



header h1{
    color: rgb(107, 214, 214);
    font-size: 30px;
    text-transform: uppercase;
}


header li{
    list-style: none;
    text-decoration: none;
}

p{
    color: darkcyan;
    font-weight: 500;
}

.navbar{
    display: flex;
    flex-flow: row wrap;

}

.rrss{
    height: 25px;
    width: 25px;
}
.contacto{
    height: 40px;
    width: 40px;
}

.carrusel{
    width: 100%;
}

.foto-galeria{
    width: 100%;
}
footer h2{
    font-size: 15px;
    font-weight: 400;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 100px; */
}

main section h2{
    color: cadetblue;
    font-size: 22px;
    text-transform: uppercase;

}
main section h3{
    color: cadetblue;
    font-size: 22px;
    text-transform: uppercase;
}
.bckgimg{
    width: 100%;
}

footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.459);
    padding: 20px;
}